level=method
compressed=true
persistent=false
minSize=6
ignoreUnaryAtLiterals=true
ignoreAnnotations=true
treatNullAsLiteral=true
treatSuperThisAsIdentifier=true
treatVoidAsType=true
batchFileSize=1000
index=simplified
rename=blind
sourceDir = /cloneDetection/benchmark/
outputFile = drdup-output.xml
command = findClones
