/* These classes are used in the show_logs.html page, to colorize the log output, 
produced by the terminal (inside of the container controlled by ImageBuilder.py) 
and converted from ansi color codes to html classes by ansi2html (https://github.com/pycontribs/ansi2html)
*/

.ansi1 { font-weight: bold; }
.ansi100 { background-color: #7f7f7f; }
.ansi101 { background-color: #ff0000; }
.ansi102 { background-color: #00ff00; }
.ansi103 { background-color: #ffff00; }
.ansi104 { background-color: #5c5cff; }
.ansi105 { background-color: #ff00ff; }
.ansi106 { background-color: #00ffff; }
.ansi107 { background-color: #ffffff; }
.ansi2 { font-weight: lighter; }
.ansi2html-content { display: inline; white-space: pre-wrap; word-wrap: break-word; }
.ansi3 { font-style: italic; }
.ansi30 { color: #000316; }
.ansi31 { color: #aa0000; }
.ansi32 { color: #00aa00; }
.ansi33 { color: #aa5500; }
.ansi34 { color: #0000aa; }
.ansi35 { color: #E850A8; }
.ansi36 { color: #00aaaa; }
.ansi37 { color: #F5F1DE; }
.ansi38-0 { color: #000316; }
.ansi38-1 { color: #aa0000; }
.ansi38-10 { color: #00ff00; }
.ansi38-100 { color: #878700; }
.ansi38-101 { color: #87875f; }
.ansi38-102 { color: #878787; }
.ansi38-103 { color: #8787af; }
.ansi38-104 { color: #8787d7; }
.ansi38-105 { color: #8787ff; }
.ansi38-106 { color: #87af00; }
.ansi38-107 { color: #87af5f; }
.ansi38-108 { color: #87af87; }
.ansi38-109 { color: #87afaf; }
.ansi38-11 { color: #ffff00; }
.ansi38-110 { color: #87afd7; }
.ansi38-111 { color: #87afff; }
.ansi38-112 { color: #87d700; }
.ansi38-113 { color: #87d75f; }
.ansi38-114 { color: #87d787; }
.ansi38-115 { color: #87d7af; }
.ansi38-116 { color: #87d7d7; }
.ansi38-117 { color: #87d7ff; }
.ansi38-118 { color: #87ff00; }
.ansi38-119 { color: #87ff5f; }
.ansi38-12 { color: #5c5cff; }
.ansi38-120 { color: #87ff87; }
.ansi38-121 { color: #87ffaf; }
.ansi38-122 { color: #87ffd7; }
.ansi38-123 { color: #87ffff; }
.ansi38-124 { color: #af0000; }
.ansi38-125 { color: #af005f; }
.ansi38-126 { color: #af0087; }
.ansi38-127 { color: #af00af; }
.ansi38-128 { color: #af00d7; }
.ansi38-129 { color: #af00ff; }
.ansi38-13 { color: #ff00ff; }
.ansi38-130 { color: #af5f00; }
.ansi38-131 { color: #af5f5f; }
.ansi38-132 { color: #af5f87; }
.ansi38-133 { color: #af5faf; }
.ansi38-134 { color: #af5fd7; }
.ansi38-135 { color: #af5fff; }
.ansi38-136 { color: #af8700; }
.ansi38-137 { color: #af875f; }
.ansi38-138 { color: #af8787; }
.ansi38-139 { color: #af87af; }
.ansi38-14 { color: #00ffff; }
.ansi38-140 { color: #af87d7; }
.ansi38-141 { color: #af87ff; }
.ansi38-142 { color: #afaf00; }
.ansi38-143 { color: #afaf5f; }
.ansi38-144 { color: #afaf87; }
.ansi38-145 { color: #afafaf; }
.ansi38-146 { color: #afafd7; }
.ansi38-147 { color: #afafff; }
.ansi38-148 { color: #afd700; }
.ansi38-149 { color: #afd75f; }
.ansi38-15 { color: #ffffff; }
.ansi38-150 { color: #afd787; }
.ansi38-151 { color: #afd7af; }
.ansi38-152 { color: #afd7d7; }
.ansi38-153 { color: #afd7ff; }
.ansi38-154 { color: #afff00; }
.ansi38-155 { color: #afff5f; }
.ansi38-156 { color: #afff87; }
.ansi38-157 { color: #afffaf; }
.ansi38-158 { color: #afffd7; }
.ansi38-159 { color: #afffff; }
.ansi38-16 { color: #000000; }
.ansi38-160 { color: #d70000; }
.ansi38-161 { color: #d7005f; }
.ansi38-162 { color: #d70087; }
.ansi38-163 { color: #d700af; }
.ansi38-164 { color: #d700d7; }
.ansi38-165 { color: #d700ff; }
.ansi38-166 { color: #d75f00; }
.ansi38-167 { color: #d75f5f; }
.ansi38-168 { color: #d75f87; }
.ansi38-169 { color: #d75faf; }
.ansi38-17 { color: #00005f; }
.ansi38-170 { color: #d75fd7; }
.ansi38-171 { color: #d75fff; }
.ansi38-172 { color: #d78700; }
.ansi38-173 { color: #d7875f; }
.ansi38-174 { color: #d78787; }
.ansi38-175 { color: #d787af; }
.ansi38-176 { color: #d787d7; }
.ansi38-177 { color: #d787ff; }
.ansi38-178 { color: #d7af00; }
.ansi38-179 { color: #d7af5f; }
.ansi38-18 { color: #000087; }
.ansi38-180 { color: #d7af87; }
.ansi38-181 { color: #d7afaf; }
.ansi38-182 { color: #d7afd7; }
.ansi38-183 { color: #d7afff; }
.ansi38-184 { color: #d7d700; }
.ansi38-185 { color: #d7d75f; }
.ansi38-186 { color: #d7d787; }
.ansi38-187 { color: #d7d7af; }
.ansi38-188 { color: #d7d7d7; }
.ansi38-189 { color: #d7d7ff; }
.ansi38-19 { color: #0000af; }
.ansi38-190 { color: #d7ff00; }
.ansi38-191 { color: #d7ff5f; }
.ansi38-192 { color: #d7ff87; }
.ansi38-193 { color: #d7ffaf; }
.ansi38-194 { color: #d7ffd7; }
.ansi38-195 { color: #d7ffff; }
.ansi38-196 { color: #ff0000; }
.ansi38-197 { color: #ff005f; }
.ansi38-198 { color: #ff0087; }
.ansi38-199 { color: #ff00af; }
.ansi38-2 { color: #00aa00; }
.ansi38-20 { color: #0000d7; }
.ansi38-200 { color: #ff00d7; }
.ansi38-201 { color: #ff00ff; }
.ansi38-202 { color: #ff5f00; }
.ansi38-203 { color: #ff5f5f; }
.ansi38-204 { color: #ff5f87; }
.ansi38-205 { color: #ff5faf; }
.ansi38-206 { color: #ff5fd7; }
.ansi38-207 { color: #ff5fff; }
.ansi38-208 { color: #ff8700; }
.ansi38-209 { color: #ff875f; }
.ansi38-21 { color: #0000ff; }
.ansi38-210 { color: #ff8787; }
.ansi38-211 { color: #ff87af; }
.ansi38-212 { color: #ff87d7; }
.ansi38-213 { color: #ff87ff; }
.ansi38-214 { color: #ffaf00; }
.ansi38-215 { color: #ffaf5f; }
.ansi38-216 { color: #ffaf87; }
.ansi38-217 { color: #ffafaf; }
.ansi38-218 { color: #ffafd7; }
.ansi38-219 { color: #ffafff; }
.ansi38-22 { color: #005f00; }
.ansi38-220 { color: #ffd700; }
.ansi38-221 { color: #ffd75f; }
.ansi38-222 { color: #ffd787; }
.ansi38-223 { color: #ffd7af; }
.ansi38-224 { color: #ffd7d7; }
.ansi38-225 { color: #ffd7ff; }
.ansi38-226 { color: #ffff00; }
.ansi38-227 { color: #ffff5f; }
.ansi38-228 { color: #ffff87; }
.ansi38-229 { color: #ffffaf; }
.ansi38-23 { color: #005f5f; }
.ansi38-230 { color: #ffffd7; }
.ansi38-231 { color: #ffffff; }
.ansi38-232 { color: #080808; }
.ansi38-233 { color: #121212; }
.ansi38-234 { color: #1c1c1c; }
.ansi38-235 { color: #262626; }
.ansi38-236 { color: #303030; }
.ansi38-237 { color: #3a3a3a; }
.ansi38-238 { color: #444444; }
.ansi38-239 { color: #4e4e4e; }
.ansi38-24 { color: #005f87; }
.ansi38-240 { color: #585858; }
.ansi38-241 { color: #626262; }
.ansi38-242 { color: #6c6c6c; }
.ansi38-243 { color: #767676; }
.ansi38-244 { color: #808080; }
.ansi38-245 { color: #8a8a8a; }
.ansi38-246 { color: #949494; }
.ansi38-247 { color: #9e9e9e; }
.ansi38-248 { color: #a8a8a8; }
.ansi38-249 { color: #b2b2b2; }
.ansi38-25 { color: #005faf; }
.ansi38-250 { color: #bcbcbc; }
.ansi38-251 { color: #c6c6c6; }
.ansi38-252 { color: #d0d0d0; }
.ansi38-253 { color: #dadada; }
.ansi38-254 { color: #e4e4e4; }
.ansi38-255 { color: #eeeeee; }
.ansi38-26 { color: #005fd7; }
.ansi38-27 { color: #005fff; }
.ansi38-28 { color: #008700; }
.ansi38-29 { color: #00875f; }
.ansi38-3 { color: #aa5500; }
.ansi38-30 { color: #008787; }
.ansi38-31 { color: #0087af; }
.ansi38-32 { color: #0087d7; }
.ansi38-33 { color: #0087ff; }
.ansi38-34 { color: #00af00; }
.ansi38-35 { color: #00af5f; }
.ansi38-36 { color: #00af87; }
.ansi38-37 { color: #00afaf; }
.ansi38-38 { color: #00afd7; }
.ansi38-39 { color: #00afff; }
.ansi38-4 { color: #0000aa; }
.ansi38-40 { color: #00d700; }
.ansi38-41 { color: #00d75f; }
.ansi38-42 { color: #00d787; }
.ansi38-43 { color: #00d7af; }
.ansi38-44 { color: #00d7d7; }
.ansi38-45 { color: #00d7ff; }
.ansi38-46 { color: #00ff00; }
.ansi38-47 { color: #00ff5f; }
.ansi38-48 { color: #00ff87; }
.ansi38-49 { color: #00ffaf; }
.ansi38-5 { color: #E850A8; }
.ansi38-50 { color: #00ffd7; }
.ansi38-51 { color: #00ffff; }
.ansi38-52 { color: #5f0000; }
.ansi38-53 { color: #5f005f; }
.ansi38-54 { color: #5f0087; }
.ansi38-55 { color: #5f00af; }
.ansi38-56 { color: #5f00d7; }
.ansi38-57 { color: #5f00ff; }
.ansi38-58 { color: #5f5f00; }
.ansi38-59 { color: #5f5f5f; }
.ansi38-6 { color: #00aaaa; }
.ansi38-60 { color: #5f5f87; }
.ansi38-61 { color: #5f5faf; }
.ansi38-62 { color: #5f5fd7; }
.ansi38-63 { color: #5f5fff; }
.ansi38-64 { color: #5f8700; }
.ansi38-65 { color: #5f875f; }
.ansi38-66 { color: #5f8787; }
.ansi38-67 { color: #5f87af; }
.ansi38-68 { color: #5f87d7; }
.ansi38-69 { color: #5f87ff; }
.ansi38-7 { color: #F5F1DE; }
.ansi38-70 { color: #5faf00; }
.ansi38-71 { color: #5faf5f; }
.ansi38-72 { color: #5faf87; }
.ansi38-73 { color: #5fafaf; }
.ansi38-74 { color: #5fafd7; }
.ansi38-75 { color: #5fafff; }
.ansi38-76 { color: #5fd700; }
.ansi38-77 { color: #5fd75f; }
.ansi38-78 { color: #5fd787; }
.ansi38-79 { color: #5fd7af; }
.ansi38-8 { color: #7f7f7f; }
.ansi38-80 { color: #5fd7d7; }
.ansi38-81 { color: #5fd7ff; }
.ansi38-82 { color: #5fff00; }
.ansi38-83 { color: #5fff5f; }
.ansi38-84 { color: #5fff87; }
.ansi38-85 { color: #5fffaf; }
.ansi38-86 { color: #5fffd7; }
.ansi38-87 { color: #5fffff; }
.ansi38-88 { color: #870000; }
.ansi38-89 { color: #87005f; }
.ansi38-9 { color: #ff0000; }
.ansi38-90 { color: #870087; }
.ansi38-91 { color: #8700af; }
.ansi38-92 { color: #8700d7; }
.ansi38-93 { color: #8700ff; }
.ansi38-94 { color: #875f00; }
.ansi38-95 { color: #875f5f; }
.ansi38-96 { color: #875f87; }
.ansi38-97 { color: #875faf; }
.ansi38-98 { color: #875fd7; }
.ansi38-99 { color: #875fff; }
.ansi4 { text-decoration: underline; }
.ansi40 { background-color: #000316; }
.ansi41 { background-color: #aa0000; }
.ansi42 { background-color: #00aa00; }
.ansi43 { background-color: #aa5500; }
.ansi44 { background-color: #0000aa; }
.ansi45 { background-color: #E850A8; }
.ansi46 { background-color: #00aaaa; }
.ansi47 { background-color: #F5F1DE; }
.ansi48-0 { background-color: #000316; }
.ansi48-1 { background-color: #aa0000; }
.ansi48-10 { background-color: #00ff00; }
.ansi48-11 { background-color: #ffff00; }
.ansi48-12 { background-color: #5c5cff; }
.ansi48-13 { background-color: #ff00ff; }
.ansi48-14 { background-color: #00ffff; }
.ansi48-15 { background-color: #ffffff; }
.ansi48-2 { background-color: #00aa00; }
.ansi48-3 { background-color: #aa5500; }
.ansi48-4 { background-color: #0000aa; }
.ansi48-5 { background-color: #E850A8; }
.ansi48-6 { background-color: #00aaaa; }
.ansi48-7 { background-color: #F5F1DE; }
.ansi48-8 { background-color: #7f7f7f; }
.ansi48-9 { background-color: #ff0000; }
.ansi5 { text-decoration: blink; }
.ansi6 { text-decoration: blink; }
.ansi8 { visibility: hidden; }
.ansi9 { text-decoration: line-through; }
.ansi90 { color: #7f7f7f; }
.ansi91 { color: #ff0000; }
.ansi92 { color: #00ff00; }
.ansi93 { color: #ffff00; }
.ansi94 { color: #5c5cff; }
.ansi95 { color: #ff00ff; }
.ansi96 { color: #00ffff; }
.ansi97 { color: #ffffff; }
.body_background { background-color: #000000; }
.body_foreground { color: #AAAAAA; }
.inv100 { color: #7f7f7f; }
.inv101 { color: #ff0000; }
.inv102 { color: #00ff00; }
.inv103 { color: #ffff00; }
.inv104 { color: #5c5cff; }
.inv105 { color: #ff00ff; }
.inv106 { color: #00ffff; }
.inv107 { color: #ffffff; }
.inv30 { background-color: #000316; }
.inv31 { background-color: #aa0000; }
.inv32 { background-color: #00aa00; }
.inv33 { background-color: #aa5500; }
.inv34 { background-color: #0000aa; }
.inv35 { background-color: #E850A8; }
.inv36 { background-color: #00aaaa; }
.inv37 { background-color: #F5F1DE; }
.inv38-0 { background-color: #000316; }
.inv38-1 { background-color: #aa0000; }
.inv38-10 { background-color: #00ff00; }
.inv38-11 { background-color: #ffff00; }
.inv38-12 { background-color: #5c5cff; }
.inv38-13 { background-color: #ff00ff; }
.inv38-14 { background-color: #00ffff; }
.inv38-15 { background-color: #ffffff; }
.inv38-2 { background-color: #00aa00; }
.inv38-3 { background-color: #aa5500; }
.inv38-4 { background-color: #0000aa; }
.inv38-5 { background-color: #E850A8; }
.inv38-6 { background-color: #00aaaa; }
.inv38-7 { background-color: #F5F1DE; }
.inv38-8 { background-color: #7f7f7f; }
.inv38-9 { background-color: #ff0000; }
.inv40 { color: #000316; }
.inv41 { color: #aa0000; }
.inv42 { color: #00aa00; }
.inv43 { color: #aa5500; }
.inv44 { color: #0000aa; }
.inv45 { color: #E850A8; }
.inv46 { color: #00aaaa; }
.inv47 { color: #F5F1DE; }
.inv48-0 { color: #000316; }
.inv48-1 { color: #aa0000; }
.inv48-10 { color: #00ff00; }
.inv48-100 { color: #878700; }
.inv48-101 { color: #87875f; }
.inv48-102 { color: #878787; }
.inv48-103 { color: #8787af; }
.inv48-104 { color: #8787d7; }
.inv48-105 { color: #8787ff; }
.inv48-106 { color: #87af00; }
.inv48-107 { color: #87af5f; }
.inv48-108 { color: #87af87; }
.inv48-109 { color: #87afaf; }
.inv48-11 { color: #ffff00; }
.inv48-110 { color: #87afd7; }
.inv48-111 { color: #87afff; }
.inv48-112 { color: #87d700; }
.inv48-113 { color: #87d75f; }
.inv48-114 { color: #87d787; }
.inv48-115 { color: #87d7af; }
.inv48-116 { color: #87d7d7; }
.inv48-117 { color: #87d7ff; }
.inv48-118 { color: #87ff00; }
.inv48-119 { color: #87ff5f; }
.inv48-12 { color: #5c5cff; }
.inv48-120 { color: #87ff87; }
.inv48-121 { color: #87ffaf; }
.inv48-122 { color: #87ffd7; }
.inv48-123 { color: #87ffff; }
.inv48-124 { color: #af0000; }
.inv48-125 { color: #af005f; }
.inv48-126 { color: #af0087; }
.inv48-127 { color: #af00af; }
.inv48-128 { color: #af00d7; }
.inv48-129 { color: #af00ff; }
.inv48-13 { color: #ff00ff; }
.inv48-130 { color: #af5f00; }
.inv48-131 { color: #af5f5f; }
.inv48-132 { color: #af5f87; }
.inv48-133 { color: #af5faf; }
.inv48-134 { color: #af5fd7; }
.inv48-135 { color: #af5fff; }
.inv48-136 { color: #af8700; }
.inv48-137 { color: #af875f; }
.inv48-138 { color: #af8787; }
.inv48-139 { color: #af87af; }
.inv48-14 { color: #00ffff; }
.inv48-140 { color: #af87d7; }
.inv48-141 { color: #af87ff; }
.inv48-142 { color: #afaf00; }
.inv48-143 { color: #afaf5f; }
.inv48-144 { color: #afaf87; }
.inv48-145 { color: #afafaf; }
.inv48-146 { color: #afafd7; }
.inv48-147 { color: #afafff; }
.inv48-148 { color: #afd700; }
.inv48-149 { color: #afd75f; }
.inv48-15 { color: #ffffff; }
.inv48-150 { color: #afd787; }
.inv48-151 { color: #afd7af; }
.inv48-152 { color: #afd7d7; }
.inv48-153 { color: #afd7ff; }
.inv48-154 { color: #afff00; }
.inv48-155 { color: #afff5f; }
.inv48-156 { color: #afff87; }
.inv48-157 { color: #afffaf; }
.inv48-158 { color: #afffd7; }
.inv48-159 { color: #afffff; }
.inv48-16 { color: #000000; }
.inv48-160 { color: #d70000; }
.inv48-161 { color: #d7005f; }
.inv48-162 { color: #d70087; }
.inv48-163 { color: #d700af; }
.inv48-164 { color: #d700d7; }
.inv48-165 { color: #d700ff; }
.inv48-166 { color: #d75f00; }
.inv48-167 { color: #d75f5f; }
.inv48-168 { color: #d75f87; }
.inv48-169 { color: #d75faf; }
.inv48-17 { color: #00005f; }
.inv48-170 { color: #d75fd7; }
.inv48-171 { color: #d75fff; }
.inv48-172 { color: #d78700; }
.inv48-173 { color: #d7875f; }
.inv48-174 { color: #d78787; }
.inv48-175 { color: #d787af; }
.inv48-176 { color: #d787d7; }
.inv48-177 { color: #d787ff; }
.inv48-178 { color: #d7af00; }
.inv48-179 { color: #d7af5f; }
.inv48-18 { color: #000087; }
.inv48-180 { color: #d7af87; }
.inv48-181 { color: #d7afaf; }
.inv48-182 { color: #d7afd7; }
.inv48-183 { color: #d7afff; }
.inv48-184 { color: #d7d700; }
.inv48-185 { color: #d7d75f; }
.inv48-186 { color: #d7d787; }
.inv48-187 { color: #d7d7af; }
.inv48-188 { color: #d7d7d7; }
.inv48-189 { color: #d7d7ff; }
.inv48-19 { color: #0000af; }
.inv48-190 { color: #d7ff00; }
.inv48-191 { color: #d7ff5f; }
.inv48-192 { color: #d7ff87; }
.inv48-193 { color: #d7ffaf; }
.inv48-194 { color: #d7ffd7; }
.inv48-195 { color: #d7ffff; }
.inv48-196 { color: #ff0000; }
.inv48-197 { color: #ff005f; }
.inv48-198 { color: #ff0087; }
.inv48-199 { color: #ff00af; }
.inv48-2 { color: #00aa00; }
.inv48-20 { color: #0000d7; }
.inv48-200 { color: #ff00d7; }
.inv48-201 { color: #ff00ff; }
.inv48-202 { color: #ff5f00; }
.inv48-203 { color: #ff5f5f; }
.inv48-204 { color: #ff5f87; }
.inv48-205 { color: #ff5faf; }
.inv48-206 { color: #ff5fd7; }
.inv48-207 { color: #ff5fff; }
.inv48-208 { color: #ff8700; }
.inv48-209 { color: #ff875f; }
.inv48-21 { color: #0000ff; }
.inv48-210 { color: #ff8787; }
.inv48-211 { color: #ff87af; }
.inv48-212 { color: #ff87d7; }
.inv48-213 { color: #ff87ff; }
.inv48-214 { color: #ffaf00; }
.inv48-215 { color: #ffaf5f; }
.inv48-216 { color: #ffaf87; }
.inv48-217 { color: #ffafaf; }
.inv48-218 { color: #ffafd7; }
.inv48-219 { color: #ffafff; }
.inv48-22 { color: #005f00; }
.inv48-220 { color: #ffd700; }
.inv48-221 { color: #ffd75f; }
.inv48-222 { color: #ffd787; }
.inv48-223 { color: #ffd7af; }
.inv48-224 { color: #ffd7d7; }
.inv48-225 { color: #ffd7ff; }
.inv48-226 { color: #ffff00; }
.inv48-227 { color: #ffff5f; }
.inv48-228 { color: #ffff87; }
.inv48-229 { color: #ffffaf; }
.inv48-23 { color: #005f5f; }
.inv48-230 { color: #ffffd7; }
.inv48-231 { color: #ffffff; }
.inv48-232 { color: #080808; }
.inv48-233 { color: #121212; }
.inv48-234 { color: #1c1c1c; }
.inv48-235 { color: #262626; }
.inv48-236 { color: #303030; }
.inv48-237 { color: #3a3a3a; }
.inv48-238 { color: #444444; }
.inv48-239 { color: #4e4e4e; }
.inv48-24 { color: #005f87; }
.inv48-240 { color: #585858; }
.inv48-241 { color: #626262; }
.inv48-242 { color: #6c6c6c; }
.inv48-243 { color: #767676; }
.inv48-244 { color: #808080; }
.inv48-245 { color: #8a8a8a; }
.inv48-246 { color: #949494; }
.inv48-247 { color: #9e9e9e; }
.inv48-248 { color: #a8a8a8; }
.inv48-249 { color: #b2b2b2; }
.inv48-25 { color: #005faf; }
.inv48-250 { color: #bcbcbc; }
.inv48-251 { color: #c6c6c6; }
.inv48-252 { color: #d0d0d0; }
.inv48-253 { color: #dadada; }
.inv48-254 { color: #e4e4e4; }
.inv48-255 { color: #eeeeee; }
.inv48-26 { color: #005fd7; }
.inv48-27 { color: #005fff; }
.inv48-28 { color: #008700; }
.inv48-29 { color: #00875f; }
.inv48-3 { color: #aa5500; }
.inv48-30 { color: #008787; }
.inv48-31 { color: #0087af; }
.inv48-32 { color: #0087d7; }
.inv48-33 { color: #0087ff; }
.inv48-34 { color: #00af00; }
.inv48-35 { color: #00af5f; }
.inv48-36 { color: #00af87; }
.inv48-37 { color: #00afaf; }
.inv48-38 { color: #00afd7; }
.inv48-39 { color: #00afff; }
.inv48-4 { color: #0000aa; }
.inv48-40 { color: #00d700; }
.inv48-41 { color: #00d75f; }
.inv48-42 { color: #00d787; }
.inv48-43 { color: #00d7af; }
.inv48-44 { color: #00d7d7; }
.inv48-45 { color: #00d7ff; }
.inv48-46 { color: #00ff00; }
.inv48-47 { color: #00ff5f; }
.inv48-48 { color: #00ff87; }
.inv48-49 { color: #00ffaf; }
.inv48-5 { color: #E850A8; }
.inv48-50 { color: #00ffd7; }
.inv48-51 { color: #00ffff; }
.inv48-52 { color: #5f0000; }
.inv48-53 { color: #5f005f; }
.inv48-54 { color: #5f0087; }
.inv48-55 { color: #5f00af; }
.inv48-56 { color: #5f00d7; }
.inv48-57 { color: #5f00ff; }
.inv48-58 { color: #5f5f00; }
.inv48-59 { color: #5f5f5f; }
.inv48-6 { color: #00aaaa; }
.inv48-60 { color: #5f5f87; }
.inv48-61 { color: #5f5faf; }
.inv48-62 { color: #5f5fd7; }
.inv48-63 { color: #5f5fff; }
.inv48-64 { color: #5f8700; }
.inv48-65 { color: #5f875f; }
.inv48-66 { color: #5f8787; }
.inv48-67 { color: #5f87af; }
.inv48-68 { color: #5f87d7; }
.inv48-69 { color: #5f87ff; }
.inv48-7 { color: #F5F1DE; }
.inv48-70 { color: #5faf00; }
.inv48-71 { color: #5faf5f; }
.inv48-72 { color: #5faf87; }
.inv48-73 { color: #5fafaf; }
.inv48-74 { color: #5fafd7; }
.inv48-75 { color: #5fafff; }
.inv48-76 { color: #5fd700; }
.inv48-77 { color: #5fd75f; }
.inv48-78 { color: #5fd787; }
.inv48-79 { color: #5fd7af; }
.inv48-8 { color: #7f7f7f; }
.inv48-80 { color: #5fd7d7; }
.inv48-81 { color: #5fd7ff; }
.inv48-82 { color: #5fff00; }
.inv48-83 { color: #5fff5f; }
.inv48-84 { color: #5fff87; }
.inv48-85 { color: #5fffaf; }
.inv48-86 { color: #5fffd7; }
.inv48-87 { color: #5fffff; }
.inv48-88 { color: #870000; }
.inv48-89 { color: #87005f; }
.inv48-9 { color: #ff0000; }
.inv48-90 { color: #870087; }
.inv48-91 { color: #8700af; }
.inv48-92 { color: #8700d7; }
.inv48-93 { color: #8700ff; }
.inv48-94 { color: #875f00; }
.inv48-95 { color: #875f5f; }
.inv48-96 { color: #875f87; }
.inv48-97 { color: #875faf; }
.inv48-98 { color: #875fd7; }
.inv48-99 { color: #875fff; }
.inv90 { background-color: #7f7f7f; }
.inv91 { background-color: #ff0000; }
.inv92 { background-color: #00ff00; }
.inv93 { background-color: #ffff00; }
.inv94 { background-color: #5c5cff; }
.inv95 { background-color: #ff00ff; }
.inv96 { background-color: #00ffff; }
.inv97 { background-color: #ffffff; }
.inv_background { background-color: #AAAAAA; }
.inv_foreground { color: #000000; }