[container]
image = 
mountpoint_base = /cloneDetection/
mountpoint_detector_config = 
mountpoint_entrypoint_config = /cloneDetection/entrypoint.cfg

[benchmark-argument-descriptions]
max_files = Maximum amount of files
logging_verbose = Save stdout and stderr of the detector tool in a log file? (true or false)

[benchmark-argument-defaults]
max_files = 100000
logging_verbose = False

[detector-argument-descriptions]


[detector-argument-defaults]

