{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% from "macros.html" import display_message_from_server %}
<h1>
    Cloreco: Clone Recognizer Comparator
</h1>
<h2>
    Automatic Benchmarking of Clone Detectors
</h2>

<p class="large-text">
    <span> 
        This web platform can be used to execute one or multiple code clone detector tools on one or multiple clone benchmark frameworks.
        Containers are used to run the clone detector tools in an isolated environment while ensuring reproducibility of execution.
    </span>
</p>

<p class="large-text">
    <span>
        To start, got to the <a href="{{ url_for('main.run') }}">Run</a> page.
    </span>
    <br>
    <span>
        The current execution progress can be accessed via the <a href="{{ url_for('main.show_logs', logCategory='run') }}">Logs > (Run)</a> page.
    </span>
    <br>
    <span>
        The results of past runs are stored on the <a href="{{ url_for('main.downloads') }}">Download</a> page.
    </span>
</p>

<p class="large-text">
    Repository: <a href="https://github.com/Glopix/cloreco">https://github.com/Glopix/cloreco</a>
</p>
<p class="large-text">
    Image repository: <a href="https://github.com/Glopix/cloreco-images">https://github.com/Glopix/cloreco-images</a>
</p>
<p class="large-text">
    Wiki: <a href="https://github.com/Glopix/cloreco/wiki">https://github.com/Glopix/cloreco/wiki</a>
</p>

<!-- "empty" space, which will grow to fill remaining space, so the following elements are at the bottom -->
<div class="empty-grow-space"></div>

{# create the messageFromServer variable, if it is undefined #}
{% set messageFromServer = none if messageFromServer is not defined else messageFromServer %}
<div id="startup-message">
{{ display_message_from_server(messageFromServer) }}
</div>
{% endblock %}
